@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 650px;
  will-change: transform;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.section__title {
  font-family: 'Gagalin';
  font-size: 4.5rem;
  padding: 0; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .order-link:hover {
    background-color: #cb411b; }

.nav-sidebar {
  position: fixed;
  right: 5%;
  top: 10%;
  color: #fff; }

.hero {
  background-image: url("../img/bg/hero-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }
  @media screen and (max-width: 768px) {
    .header {
      padding-top: 0; } }

.header__logo {
  margin-right: auto; }

.logo__img {
  max-width: 5.875rem; }

@media screen and (max-width: 768px) {
  .header__menu {
    display: none; } }

.nav {
  margin-right: 0.9375rem; }
  .nav__list {
    margin: 0;
    padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle; }
  .nav__link:hover {
    text-decoration: underline; }

@media screen and (max-width: 768px) {
  .nav__btn {
    margin-right: 2.625rem; } }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 0; } }

.hero__img, .hero__description {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .hero__img, .hero__description {
      -ms-flex-preferred-size: auto;
      flex-basis: auto; } }

@media screen and (max-width: 768px) {
  .hero__img {
    max-width: 80%;
    display: inline;
    margin-bottom: 1.25rem; } }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }
  @media screen and (max-width: 768px) {
    .section__title {
      padding-top: 0;
      font-size: 3.375rem; } }

.hero__description-text {
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 400;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .hero__description-text {
      font-size: 3.375rem; } }

.hero__arrow {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hero__arrow__icon {
  width: 2.5rem;
  height: 2.5rem; }

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.best {
  background: url("../../img/bg/best-bg.png") no-repeat;
  background-size: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center center; }

.best__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100%; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem; }

.best__feature {
  width: 100%; }

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .feature__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.feature__item {
  margin-bottom: 3.125rem;
  padding: 0 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: calc(33.33% - 30px * 2/3);
  flex-basis: calc(33.33% - 30px * 2/3); }
  @media screen and (max-width: 480px) {
    .feature__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.feature__icon {
  width: 90%;
  height: 6.25rem; }
  .feature__icon svg {
    max-width: 95%;
    min-width: 50%; }
    @media screen and (max-width: 480px) {
      .feature__icon svg {
        max-width: 5.625rem; } }
  @media screen and (max-width: 768px) {
    .feature__icon {
      width: 5.625rem;
      margin-right: 1rem; } }

@media screen and (max-width: 480px) {
  .feature__textcontainer {
    margin-left: 0.75rem; } }

.feature__title {
  font-family: 'Lifehack';
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .feature__title {
      margin: 0;
      text-align: left; } }

.feature__text {
  text-align: center;
  color: #2f3234;
  opacity: 0.8;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0; }
  @media screen and (max-width: 480px) {
    .feature__text {
      text-align: left; } }

.burgers {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(#eb8d38), to(#f9b43b));
  background: -webkit-linear-gradient(#f9b43b, #eb8d38, #f9b43b);
  background: -o-linear-gradient(#f9b43b, #eb8d38, #f9b43b);
  background: linear-gradient(#f9b43b, #eb8d38, #f9b43b);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 5% 0; }

.burgers__container {
  height: 100%; }

.burgers__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.burgers__list-item {
  height: 100%;
  min-height: 38.75rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative; }
  @media screen and (max-width: 768px) {
    .burgers__list-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 70%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .burgers__list-item {
      max-width: 100%; } }

.burgers__col {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  min-height: 50%;
  -ms-flex-line-pack: center;
  align-content: center; }
  @media screen and (max-width: 768px) {
    .burgers__col {
      text-align: center;
      margin-bottom: 0.625rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.burgers__img {
  max-width: 505px;
  max-height: 329px;
  min-width: 20.625rem; }
  @media screen and (max-width: 768px) {
    .burgers__img {
      max-width: 80%; } }

.burgers__title {
  text-transform: uppercase;
  color: #fff;
  line-height: 4rem;
  margin-bottom: 3.375rem;
  padding: 0; }
  @media screen and (max-width: 768px) {
    .burgers__title {
      margin-bottom: 1.875rem; } }

.burgers__text {
  color: #fff;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0;
  margin-bottom: 2.125rem; }

.burgers__price {
  height: 3.4375rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .burgers__price {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.burgers__price-value {
  padding: 0;
  color: #e25028;
  line-height: 3.375rem;
  margin-right: 0.75rem; }

.burgers__price-curency {
  margin: 0;
  color: #e25028;
  margin-right: 1.5rem;
  font-size: 1.875rem;
  line-height: 1.75rem;
  font-weight: 500;
  letter-spacing: -0.04688rem;
  font-family: 'Gagalin'; }

.burgers__about {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.625rem;
  height: 5.625rem;
  background-color: rgba(227, 0, 40, 0.2);
  border-radius: 5px;
  padding: 0.75rem 1.375rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.burgers__about-active {
  background: #e25028; }

.burgers__about-wraper {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0.75rem 1.375rem; }

.burgers__about-icon {
  width: 2.8125rem;
  height: 2.8125rem; }

.burgers__about-title {
  text-transform: lowercase;
  font-family: 'Gagalin';
  font-size: 0.875rem;
  margin: 0;
  color: #fff; }

.burgers__about-dropdown {
  width: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .burgers__about-dropdown .burgers__about-list {
    display: none; }

.burgers__about-active .burgers__about-dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  border-radius: 5px;
  height: 9.375rem;
  width: 18.75rem;
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem; }
  .burgers__about-active .burgers__about-dropdown .burgers__about-list {
    display: block; }

.burgers__about-list {
  height: 100%;
  width: 100%; }

.burgers__about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burgers__about-item-text {
  font-weight: 500;
  margin: 0; }

.burgers__about-item-price {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5); }

.burgers__kkal {
  position: absolute;
  bottom: 0.625rem;
  left: 0;
  width: 3.75rem;
  height: 4.6875rem;
  opacity: 0.5; }
  @media screen and (max-width: 768px) {
    .burgers__kkal {
      bottom: auto;
      left: auto;
      top: 0;
      right: 0; } }

.burgers__kkal-wraper {
  width: 100%;
  height: 100%;
  position: relative; }

.burgers__kkal-icon {
  width: 100%;
  height: 3.75rem; }

.burgers__kkal-title {
  text-transform: uppercase;
  font-family: 'Gagalin';
  font-size: 0.875rem;
  margin: 0;
  color: #fff;
  text-align: center; }

.burgers__kkal-count {
  position: absolute;
  top: 1.5625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'Gagalin';
  font-size: 1.25rem;
  margin: 0;
  color: #fff; }

.burgers__nav {
  position: absolute;
  top: 5%;
  bottom: 5%;
  width: 1.5rem;
  z-index: 1; }

.burgers__nav-prev {
  left: 5%; }

.burgers__nav-next {
  right: 5%; }

.burgers__nav-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center; }

.team {
  background-image: url("../img/bg/team-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.team__description {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .team__description {
      width: 100%;
      left: 0; } }

.container__team__description {
  margin: 0 auto;
  width: 21.875rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.team__title {
  font-family: 'Gagalin';
  color: #f9b43b;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 72px;
  margin: 0;
  margin-bottom: 2.875rem; }

@media screen and (max-width: 768px) {
  .team__accordeon__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.team__accordeon__btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .team__accordeon__btn {
      text-align: center; } }

.team__accordeon__title {
  font-family: 'Gagalin';
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  @media screen and (max-width: 768px) {
    .team__accordeon__title {
      font-size: 1.5rem; } }

.team__accordeon__active .team__accordeon__title {
  color: #f8b43a; }

.team__accordeon__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: white;
  line-height: 24px;
  font-size: 0.875rem;
  overflow: hidden;
  height: 0px;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  @media screen and (max-width: 768px) {
    .team__accordeon__content {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0; } }

.team__accordeon__active .team__accordeon__content {
  height: 6.25rem; }
  @media screen and (max-width: 768px) {
    .team__accordeon__active .team__accordeon__content {
      height: 15rem; } }

.team__accoredeon__content--img {
  width: 100px;
  height: 100px;
  margin-right: 21px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  @media screen and (max-width: 768px) {
    .team__accoredeon__content--img {
      margin: 0; } }

.team__accordeon__active .team__accoredeon__content--img {
  opacity: 1; }

.team__accordeon__content--title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700; }

.team__accordeon__content--text {
  margin: 0;
  font-weight: 300;
  width: 210px; }
  @media screen and (max-width: 768px) {
    .team__accordeon__content--text {
      text-align: center; } }

.menu {
  background-image: url("../img/bg/menu-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.menu__title {
  font-family: 'Gagalin';
  color: white;
  font-size: 4.5rem;
  position: absolute;
  top: 10%;
  left: 10%; }

.menu__accordeon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__accordeon__item {
  height: 100%; }

.menu__accordeon__trigger {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 5rem;
  height: 100%;
  display: block;
  float: left;
  position: relative; }
  .menu__accordeon__trigger::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); }
  @media screen and (max-width: 480px) {
    .menu__accordeon__trigger {
      width: 50px; } }

.menu__accordeon__trigger-title {
  font-family: 'Gagalin';
  color: white;
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 90%; }

.menu__accordeon__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.menu__accordeon-active {
  width: 32.5rem; }
  @media screen and (max-width: 768px) {
    .menu__accordeon-active {
      width: 15rem; } }
  @media screen and (max-width: 480px) {
    .menu__accordeon-active {
      width: 12.5rem; } }

.menu__accordeon__text {
  width: 100%;
  font-weight: 300;
  color: white;
  font-size: 0.875rem;
  padding: 3.75rem 1.875rem;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  @media screen and (max-width: 768px) {
    .menu__accordeon__text {
      padding: 0.75rem; } }

.menu__accordeon-active .menu__accordeon__text {
  opacity: 1; }

.rewiews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative; }

.rewiew__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.rewiew {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding: 0;
  height: 50%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }
  @media screen and (max-width: 768px) {
    .rewiew {
      height: 25%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      width: 50%; } }

.rewiew__content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  padding: 1.25rem 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .rewiew__content {
      padding: 1.5625rem 3.4375rem; } }

.rewiew__content:hover {
  opacity: 1;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.5); }

.rewiew__title {
  color: #fff;
  font-family: 'Gagalin';
  font-size: 14px; }
  @media screen and (max-width: 768px) {
    .rewiew__title {
      text-align: center;
      margin: 0;
      margin-bottom: 1.25rem; } }

.rewiew__text {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0;
  margin-top: 0.625rem; }
  @media screen and (max-width: 768px) {
    .rewiew__text {
      margin: 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .rewiew__text {
      display: none; } }

.rewiew__btn {
  background-color: #2f3234;
  border-radius: 4px;
  padding: 0.6875rem 0.9375rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .rewiew__btn {
      margin: 0 auto;
      margin-top: 1.25rem;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.order {
  background-image: url("../img/bg/order-bg.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.order__title {
  text-align: center;
  color: #f8b43a;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  margin-bottom: 3.125rem; }

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .order__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 0; } }

.order__form-col {
  width: 45%;
  margin-left: 5%; }
  @media screen and (max-width: 768px) {
    .order__form-col {
      margin-left: 0;
      padding-right: 0.625rem;
      width: 60%; } }
  @media screen and (max-width: 480px) {
    .order__form-col {
      width: 100%;
      margin-left: 0; } }

.order__form-row {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order__form-label {
  margin-bottom: 0.25rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300; }

.order__form-input {
  font-size: 0.875rem;
  padding: 0.625rem;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #d1cfcb;
  border-radius: 0.3125rem;
  width: 100%; }

.order__form-block {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 10px; }

.order__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order__form-input_textarea {
  height: 6.875rem;
  resize: none; }

.order__form-buttons {
  padding-left: 10px; }

.order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 1.25rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.order__radio-elem {
  position: absolute;
  top: 0;
  left: -624.9375rem; }

.order__radio-fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: white;
  position: relative; }
  .order__radio-fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: #e25028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.order__radio-elem:checked + .order__radio-fake:after {
  width: 0.5rem;
  height: 0.5rem; }

.order__radio-title {
  font-size: 0.875rem;
  color: #fff;
  margin-left: 0.625rem;
  font-weight: 300; }

.order__radio_checkbox .order__radio-fake {
  border-radius: 0rem; }

.order__radio_checkbox .order__radio-elem + .order__radio-fake:after {
  background: transparent; }

.order__radio_checkbox .order__radio-elem:checked + .order__radio-fake:after {
  background: url("../icons/check.png") 50% no-repeat transparent;
  background-size: contain;
  width: 0.6875rem;
  height: 0.5625rem; }

.order__form-button {
  background: #e25028;
  border: 0;
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin-right: 1.25rem;
  padding: 0.625rem 0.9375rem;
  cursor: pointer; }

.order__form-button_reset {
  font-weight: 300;
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent; }

.map {
  background-size: cover;
  text-align: center;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.map-wrapper {
  height: 100%;
  min-height: 620px;
  width: 100%; }

.map__hint {
  padding: 20px;
  min-height: 55px;
  min-width: 195px;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  background-color: #f9b43b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  border-radius: 20px; }

.map__balloon {
  padding: 20px;
  font-size: 30px;
  line-height: 1;
  color: #ffffff;
  background-color: #f9b43b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  border-radius: 20px; }

.map__burger-img {
  float: right;
  height: 100px;
  width: 100px; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/bg/footer-bg.png");
  background-size: cover;
  text-align: center;
  background-position: center center;
  padding: 0.625rem 0; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 1rem; } }

.footer__col {
  width: 50%;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  text-align: left; }
  @media screen and (max-width: 480px) {
    .footer__col {
      width: 100%;
      text-align: center; } }

.footer__address {
  color: #fff;
  font-size: 0.875rem; }

.footer__phone {
  color: #e25028;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.875rem; }
  .footer__phone svg {
    height: 0.75rem; }

.footer__col_right {
  text-align: right;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .footer__col_right {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.socials {
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.socials__item {
  margin-left: 0.625rem; }

.socials__link {
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: .3; }
  .socials__link:hover {
    opacity: 1; }

.socials__link-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #fff; }

.nav-sidebar {
  position: fixed;
  top: 5.625rem;
  right: 2.5rem; }
  @media screen and (max-width: 768px) {
    .nav-sidebar {
      display: none; } }

.nav-sidebar__link {
  width: 1rem;
  height: 1rem;
  display: block;
  position: relative; }
  .nav-sidebar__link:after, .nav-sidebar__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .nav-sidebar__link:after {
    width: 0.375rem;
    height: 0.375rem;
    background: #fff; }
  .nav-sidebar__link:before {
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    border: 0.0625rem solid #fff;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .nav-sidebar__link:hover:before {
    width: 0.875rem;
    height: 0.875rem;
    opacity: 1; }

.nav-sidebar__item.active .nav-sidebar__link:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1; }

.nav-sidebar__item {
  margin-bottom: 0.3125rem; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  color: #fff;
  border-radius: 8px;
  display: none; }

.full-review {
  padding: 1.5625rem 1.25rem; }

.full-review__title {
  font-family: 'Gagalin';
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1.5625rem; }

.full-review__content {
  font-size: 0.875rem;
  font-family: 'Ubuntu'; }

.full-review__close {
  width: 0.9375rem;
  height: 0.9375rem;
  display: block;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  opacity: .7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-decoration: none;
  color: #fff; }
  .full-review__close:hover {
    opacity: 1; }

.fixed-menu__button {
  position: fixed;
  top: 1.375rem;
  right: 0.625rem;
  height: 1.6875rem;
  width: 2.1875rem;
  cursor: pointer;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  border-radius: 3px;
  display: none;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .fixed-menu__button {
      display: block; } }
  .fixed-menu__button:hover {
    opacity: .7; }
  .fixed-menu__button.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    -ms-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff; }
  .fixed-menu__button.active .middle {
    opacity: 0;
    background: #fff; }
  .fixed-menu__button.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #fff; }
  .fixed-menu__button span {
    background: #fff;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
    border-radius: 3px; }
    .fixed-menu__button span:nth-of-type(2) {
      top: 11px; }
    .fixed-menu__button span:nth-of-type(3) {
      top: 22px; }

.fixed-menu__overlay {
  position: fixed;
  background: rgba(47, 50, 52, 0.93);
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  -o-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }
  .fixed-menu__overlay.active {
    visibility: visible;
    height: 100%; }
    .fixed-menu__overlay.active .fixed-menu__item {
      -webkit-animation: fadeInRight .5s ease forwards;
      animation: fadeInRight .5s ease forwards;
      -webkit-animation-delay: .35s;
      animation-delay: .35s; }
      .fixed-menu__overlay.active .fixed-menu__item:nth-of-type(2) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s; }
      .fixed-menu__overlay.active .fixed-menu__item:nth-of-type(3) {
        -webkit-animation-delay: .45s;
        animation-delay: .45s; }
      .fixed-menu__overlay.active .fixed-menu__item:nth-of-type(4) {
        -webkit-animation-delay: .50s;
        animation-delay: .50s; }
      .fixed-menu__overlay.active .fixed-menu__item:nth-of-type(5) {
        -webkit-animation-delay: .55s;
        animation-delay: .55s; }
      .fixed-menu__overlay.active .fixed-menu__item:nth-of-type(6) {
        -webkit-animation-delay: .60s;
        animation-delay: .60s; }
  .fixed-menu__overlay .fixed-menu {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center; }
  .fixed-menu__overlay .fixed-menu__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 60%;
    margin-top: 10%; }
  .fixed-menu__overlay .fixed-menu__item {
    display: block;
    height: calc(100% / 6);
    min-height: 50px;
    position: relative;
    opacity: 0;
    margin-bottom: 2.125rem; }
    .fixed-menu__overlay .fixed-menu__item::after {
      content: "";
      z-index: 101;
      display: block;
      position: absolute;
      bottom: -0.25rem;
      left: 50%;
      border-radius: 50%;
      width: 0.375rem;
      height: 0.375rem;
      background: #fff; }
  .fixed-menu__overlay .fixed-menu__link {
    font-family: 'Ubuntu';
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    text-transform: uppercase; }
    .fixed-menu__overlay .fixed-menu__link:hover {
      text-decoration: underline; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }
