.menu{
    background-image: url('../img/bg/menu-bg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.menu__title{
    font-family: 'Gagalin';
    color: white;
    font-size: rem(72px);
    position: absolute;
    top: 10%;
    left: 10%;
}

.menu__accordeon{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

.menu__accordeon__item{
    height: 100%;
}

.menu__accordeon__trigger {
    background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
    width: rem(80px);
    height: 100%;
    display: block;
	float: left;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0 , 0, 0, 0.7);
    }

    @include phones{
        width: (50px);
    }
}

.menu__accordeon__trigger-title {
    font-family: 'Gagalin';
    color: white;
    font-size: rem(40px);
    text-align: center;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 90%;
}

.menu__accordeon__content {
	height: 100%;
	float: left;
	background: rgba(#2f3234, .93);
	width: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.menu__accordeon-active{
    width: rem(520px);

    @include tablets{
        width: rem(240px);
    }

    @include phones{
        width: rem(200px);
    }

}

.menu__accordeon__text {
    width: 100%;
    font-weight: 300;
    color: white;
	font-size: rem(14px);	
    padding: rem(60px) rem(30px);
    opacity: 0;
    transition: all 0.4s;

    @include tablets{
        padding: rem(12px);
    }
}

.menu__accordeon-active .menu__accordeon__text{
    opacity: 1;
}