.rewiews{
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.rewiew{
    flex-basis: 25%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 0;
    height: 50%;

    @include tablets{
        height: 25%;
        flex-basis: 50%;
    }
}

.rewiew__1{
    background-image: url('../img/content/rewiew__1.png');
}

.rewiew__2{
    background-image: url('../img/content/rewiew__2.png');
}

.rewiew__3{
    background-image: url('../img/content/rewiew__3.png');
}

.rewiew__4{
    background-image: url('../img/content/rewiew__4.png');
}

.rewiew__5{
    background-image: url('../img/content/rewiew__5.png');
}

.rewiew__6{
    background-image: url('../img/content/rewiew__6.png');
}

.rewiew__7{
    background-image: url('../img/content/rewiew__7.png');
}

.rewiew__8{
    background-image: url('../img/content/rewiew__8.png');
}

.rewiew__content{
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 0;
    padding: rem(20px) rem(20px);
    flex-direction: column;

    @include tablets{
        padding: rem(25px) rem(55px);
    }

}

.rewiew__content:hover{
    opacity: 1;
    background-color: #111; 
    background-color: rgba(0,0,0,0.5); 
}

.rewiew__title{
    color: #fff;
    font-family: 'Gagalin';
    font-size: 14px;

    @include tablets{
        text-align: center;
        margin: 0;
        margin-bottom: rem(20px);
    } 
}

.rewiew__text{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: rem(24px);
    margin: 0;
    margin-top: rem(10px);;

    @include tablets{
        margin: 0;
        text-align: center;
    }

    @include phones{
        display: none;
    }
}

.rewiew__btn{
    background-color: #2f3234;
    border-radius: 4px;
    padding: rem(11px) rem(15px);
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;

    @include tablets{
        margin: 0 auto;
        margin-top: rem(20px);
        text-align: center;
        display: flex;
        align-items: center;
    }
}



